<?xml version='1.0' encoding='UTF-8'?> 
<plugin xmlns='http://www.phonegap.com/ns/plugins/1.0' id='io.lawnmower.coinbase' version='0.0.1'>
  <name>
     Coinbase 
  </name>
  <description>
     Cordova plugin for Coinbase native (iOS/Android) SDKs 
  </description>
  <author>
     Pieter Gorsira 
  </author>
  <keywords>
     coinbase, bitcoin, oauth, sdk 
  </keywords>
  <license>
     MIT 
  </license>
  <repo>
     https://github.com/LawnmowerIO/cordova-plugin-coinbase.git 
  </repo>
  <issue>
     https://github.com/LawnmowerIO/cordova-plugin-coinbase/issues 
  </issue>
  <engines>
    <engine name='cordova' version='>=3.4.0'/>
  </engines>

  <js-module src='www/coinbase.js' name='Coinbase'>
    <clobbers target='coinbase'/>
  </js-module>
  <platform name='ios'>
    <config-file target='config.xml' parent='/*'>
      <feature name='CoinbaseOAuth'>
        <param name='ios-package' value='CoinbaseOAuth'/>
      </feature>
    </config-file>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/vendor/headers/CoinbaseDefines.h' autogen='true'/>
    <header-file src='src/ios/vendor/headers/CoinbaseOAuth.h' autogen='true'/>
    <header-file src='src/ios/vendor/headers/Coinbase.h' autogen='true'/>
    <resource-file src='src/ios/vendor/resources/Assets' autogen='true'/>
    <source-file framework='true' src='src/ios/vendor/libcoinbase-offical.a' autogen='true'/>
  </platform>
  <!-- <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="io.lawnmower.plugin.Hello"/>
      </feature>
    </config-file>

    <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/>
  </platform> -->
</plugin>