<?xml version='1.0' encoding='UTF-8'?> 
<plugin xmlns='http://www.phonegap.com/ns/plugins/1.0' id='io.lawnmower.coinbase' version='0.0.1'>
  <name>Coinbase</name>
  <description>Cordova plugin for Coinbase native (iOS/Android) SDKs</description>
  <author>Pieter Gorsira</author>
  <keywords>coinbase, bitcoin, oauth, sdk </keywords>
  <license>MIT</license>
  <repo>https://github.com/LawnmowerIO/cordova-plugin-coinbase.git</repo>
  <issue>https://github.com/LawnmowerIO/cordova-plugin-coinbase/issues </issue>
  <engines>
    <engine name='cordova' version='>=3.4.0'/>
  </engines>

  <js-module src='www/coinbase.js' name='Coinbase'>
    <clobbers target='coinbase'/>
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CoinbaseOAuth">
        <param name="android-package" value="io.lawnmower.plugin.coinbase.CoinbaseOAuthPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/CoinbaseOAuthPlugin.java" target-dir="src/io/lawnmower/plugin/coinbase"/>
    <source-file src="src/android/vendor/coinbase-android-sdk-1.0.2.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/coinbase-java-1.10.0-SNAPSHOT.jar" target-dir="libs" framework="true" /> 
    <source-file src="src/android/vendor/commons-codec-1.9.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/commons-io-2.4.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/commons-logging-1.1.3.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/httpclient-android-4.3.5.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/httpcore-4.3.3.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/jackson-annotations-2.4.0.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/vendor/jackson-core-2.4.0.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/jackson-databind-2.4.0.jar" target-dir="libs" framework="true" /> 
    <source-file src="src/android/vendor/jackson-datatype-joda-2.4.0.jar" target-dir="libs" framework="true" />   
    <source-file src="src/android/vendor/joda-money-0.9.1.jar" target-dir="libs" framework="true" />     
    <source-file src="src/android/vendor/joda-time-2.3.jar" target-dir="libs" framework="true" />    
    <source-file src="src/android/vendor/opencsv-2.0.jar" target-dir="libs" framework="true" />    
  </platform>

  <platform name='ios'>
    <config-file target='config.xml' parent='/*'>
      <feature name='CoinbaseOAuth'>
        <param name='ios-package' value='CoinbaseOAuthPlugin'/>
      </feature>
    </config-file>
    <header-file src="src/ios/CoinbaseOAuthPlugin.h" />
    <source-file src="src/ios/CoinbaseOAuthPlugin.m" />
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/vendor/headers/CoinbaseDefines.h' autogen='true'/>
    <header-file src='src/ios/vendor/headers/CoinbaseOAuth.h' autogen='true'/>
    <header-file src='src/ios/vendor/headers/Coinbase.h' autogen='true'/>
    <resource-file src='src/ios/vendor/resources/Assets' autogen='true'/>
    <source-file framework='true' src='src/ios/vendor/libcoinbase-offical.a' autogen='true'/>
  </platform>

</plugin>